{% extends "admin/change_form.html" %}
{% load i18n %}
{% block extrahead %}{{ block.super }}
<script type="text/javascript" src="../../../../jsi18n/"></script>
{% endblock %}
{% block breadcrumbs %}
  <div class="breadcrumbs">
    <a href="../../../{% if add %}../{% endif %}">{% trans "Home" %}</a> &rsaquo;
    <a href="../../{% if add %}../{% endif %}">{{ app_label|capfirst|escape }}</a> &rsaquo;
    {% if has_change_permission %}<a href="../{% if add %}../{% endif %}">{{ opts.verbose_name_plural|capfirst }}</a>{% else %}{{ opts.verbose_name_plural|capfirst }}{% endif %} &rsaquo;
    {% if add %}{% trans "Add" %} {{ opts.verbose_name }}{% else %}{{ original|truncatewords:"18" }}{% endif %}
  </div>
{% endblock %}

{% block content %}
{% if default_form and add %}
<ul class="object-tools" style="float:none;margin-top:0px;">
  {% for id, name in menu_option_types %}
  <li class="clear" style="margin-top: 3px;">
    <a href="{{ id }}/{% if is_popup %}?_popup=1{% endif %}" class="addlink">
      {% blocktrans with name as name %}Add {{ name }}{% endblocktrans %}
    </a>
  </li>
  {% endfor %}
</ul>
{% else %}
{{ block.super }}
{% endif %}
{% endblock %}
