{% extends "admin/change_form.html" %}
{% load i18n %}
{% load menu_tags %}
{% block after_field_sets %}
{{ block.super }}
{% if not add %}
<fieldset class="module">
  <h2>Menu options</h2>
  {% if has_add_permission %}
    <ul class="object-tools">
      {% for id, name in menu_option_types %}
      <li>
        <a href="add/{{ id }}/{% if is_popup %}?_popup=1{% endif %}" class="addlink">
          {% blocktrans with name as name %}Add {{ name }}{% endblocktrans %}
        </a>
      </li>
      {% endfor %}
    </ul>
  {% endif %}
  {% with original as group %}
    <table summary="Menu options available in the {{ group.name }} menu group.">
      <thead>
        <tr>
          <th>&#160;</th>
          <th>Option type</th>
          <th>Show to Anonymous</th>
          <th>Show to Authenticated</th>
          <th>Show to Staff</th>
        </tr>
      </thead>
      <tbody>
      {% admin_menu_as_tag group %}
      </tbody>
    </table>
    {% if not forloop.last %}
      <br />
    {% endif %}
  {% endwith %}
</div>
{% endif %}
{% endblock %}
